[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==2.9.2"
instructor = "==1.5.1"
boto3 = "*"
openai = "*"
pytest = "*"
langchain = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
